name: CI Checks

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DamianReeves/write-file-action@v1.3
        with:
          path: src/net/cyw43/secrets.txt
          contents: |
            Dummy
          write-mode: overwrite
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo install flip-link
      - run: cargo build --all
      - run: cargo build --all --release
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: DamianReeves/write-file-action@v1.3
        with:
          path: src/net/cyw43/secrets.txt
          contents: |
            Dummy
          write-mode: overwrite
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo clippy --all-features -- --deny=warnings
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: DamianReeves/write-file-action@v1.3
        with:
          path: src/net/cyw43/secrets.txt
          contents: |
            Dummy
          write-mode: overwrite
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt -- --check
